/* # reset */ 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
 }
   
h1 {
   color: #060707;
 }
.email-List {
  max-width: 400px;
  margin: 0 auto;
}
.list-group-item {
  background-color: #ffffff;
  color: #1f73c7;
  border: 1px solid #ced4da;
}

